@import 'src/styles';

.root {
  width: 100%;
}

.popup {
  top: 0;
  left: 0;
  z-index: 14;
  opacity: 0;
  visibility: hidden;

  display: flex;
  max-height: 336px;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.menu {
  width: 100%;
  max-width: none;
  overflow-y: auto;
}

.triggerContainer {
  position: relative;
}

.trigger {
  display: flex;
  align-items: center;
  padding: 7px 11px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid $colors--neutral--A10;
  background-color: $colors--background--primary-content;

  &:hover {
    border-color: $colors--neutral--A20;
    cursor: pointer;
  }

  &.visible {
    border-color: $colors--neutral--A40;
  }

  &.warning {
    border-color: $colors--border-control--warning;
  }

  &.invalid {
    border-color: $colors--border-control--error;
  }

  &.disabled {
    background-color: $colors--neutral--50;
    border-color: $colors--neutral--A7;

    &:hover {
      cursor: default;
    }
  }
}

.content {
  @include sans-serif--medium-12();

  margin-right: auto;
  max-width: calc(100% - 18px);
  color: $colors--content--primary;
}

.wrapper {
  display: flex;
  align-items: center;
}

.multiLine {
  padding-top: 4px;
  padding-bottom: 4px;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.leftIcon {
  margin-right: 8px;
}

.rightIcon {
  margin-left: 8px;
}

.contentWrapper {
  @include sans-serif--medium-12();

  max-width: 100%;

  .singleLine & {
    min-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.title {
  display: block;
  margin-bottom: 2px;
  color: $colors--content--primary;
  @include sans-serif--semi-bold-12();

  & + .text {
    color: $colors--content--secondary;
  }
}

.placeholder {
  display: block;
  height: 16px;
  color: $colors--content--tertiary;
}

.arrow {
  flex-shrink: 0;
  margin-left: 6px;

  .disabled & {
    opacity: 0;
  }
}

.search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  padding: 0;
  border-radius: 6px;
  border: 1px solid $colors--neutral--A40;
  background-color: $colors--background--primary-content;
}

.searchInput {
  padding-left: 3px;
}

.skeleton {
  cursor: default !important;
  background-color: transparent !important;

  .content {
    flex: none;
    height: 16px;
    border-radius: 4px;
    background-color: $colors--neutral--A10;
  }

  &:nth-child(even) .content {
    width: 75%;
  }
  &:nth-child(odd) .content {
    width: 45%;
  }
}
